.slideshow {
	/* position: relative; */
	overflow: hidden;
}

.images,
.image-2 {
	background: url('../../static/login.jpeg');
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300%;
	animation: slideshow 20s linear infinite;
	transform: translate3d(0, 0, 0);
}

@keyframes slideshow {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}

}


.form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
